.App {
  text-align: center;
  background-color: #151416;
  padding: 0;
  margin-top: 0rem;
}


body {
  background-color: #151416;
}

.container {
  margin-top: 3rem;
}

.footer {
  background-color: #0e0d16;
  margin-top: 3rem;
  box-shadow:0px 0px 50px 6px #2b1a75;
  color : white;
  padding: 0.5rem;
}

.navbar {
  background-color: #0e0d16;
  box-shadow:0px 0px 50px 6px #2b1a75;
}

.card {
  background-color: #1f1d28;
  /* box-shadow: 1px 1px 1px 1px red; */
  box-shadow: 0px 0px 24px 6px black;
  border-radius: 40px 40px 40px 40px;
}

.card-img-top {
  border-radius: 40px 40px 0px 0px;
}

.card-title {
  color: white;
}

.card-text {
  color: white;
}

.topAffiliation {
  /*margin-top: 3rem;*/
  margin: 3rem 7rem 0rem 7rem;
}



.affliation {
  margin: 3rem 7rem 0rem 7rem;
}

.col {
  border-radius: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 767.98px) { 
  .topAffiliation {
    /*margin-top: 3rem;*/
    margin: 1rem 1rem 0rem 1rem;
  }
  
  .affliation {
    margin: 1rem 1rem 0rem 1rem;
  }

  .card {
    padding: 0!important;
}
 }

 @media (max-width: 991.98px) { 
  .topAffiliation {
    /*margin-top: 3rem;*/
    margin: 1rem 1rem 0rem 1rem;
  }
  
  .affliation {
    margin: 1rem 1rem 0rem 1rem;
  }

  .card {
    padding: 0!important;
}
 }

 @media (max-width: 1199.98px) { 
  .topAffiliation {
    /*margin-top: 3rem;*/
    margin: 1rem 1rem 0rem 1rem;
  }
  
  .affliation {
    margin:2rem 1rem 0rem 1rem;
  }

  .card {
    padding: 0!important;
}
 }

 @media (max-width: 1399.98px) { 
  .topAffiliation {
    /*margin-top: 3rem;*/
    margin: 1rem 1rem 0rem 1rem;
  }
  
  .affliation {
    margin: 2rem 1rem 0rem 1rem;
  }

  .card {
    padding: 0!important;
}
 }

 @media (min-width: 1400px) { 
  .topAffiliation {
    /*margin-top: 3rem;*/
    margin: 1rem 1rem 0rem 1rem;
  }
  
  .affliation {
    margin: 1rem 1rem 0rem 1rem;
  }

  .card {
    padding: 0!important;
  }
}