.App {
  text-align: center;
  background-color: #151416;
}

.navbar {
  background-color: #0e0d16;
  box-shadow:0px 0px 50px 6px #2b1a75;
}

.card {
  background-color: #1f1d28;
  /* box-shadow: 1px 1px 1px 1px red; */
  box-shadow: 0px 0px 24px 6px black;
  border-radius: 40px 40px 40px 40px;
}

.card-img-top {
  border-radius: 40px 40px 0px 0px;
}

.card-title {
  color: white;
}

.card-text {
  color: white;
}

.btn-primary {
  background-color: #5aa446!important;
  border-color: #5aa446!important;
  border-radius: 20px;
}

.btn-primary:hover{
  background-color: #5aa446;
  border-color: #5aa446;
  box-shadow: 0px 0px 4px 1px #5aa446;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #5aa446;
  background-color: #5aa446;
  border-color: #5aa446;
}

.topAffiliation {
  /*margin-top: 3rem;*/
  margin: 3rem 7rem 0rem 7rem;
}

.affliation {
  margin: 3rem 7rem 0rem 7rem;
}

.col {
  border-radius: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
