body {
    background-color: #151416;
}

.boxlogin {
    margin: 3rem 22rem 3rem 22rem;
}

.card {
    color:white;
    text-align: left;
    padding-left: 7rem;
    padding-right: 7rem;
}

.button-primary {
    text-align: center;
}

/*@media (max-width: 767.98px) { 
    .card {
        padding: 0!important;
    }
}*/